section {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin: 0px 40px;
}

img {
    display: inline;
    width: 100%;
}

h1 {
    text-align: center;
    border-top: black solid 10px;
    border-bottom: black solid 10px;
}

h2 {
    text-align: center;
    margin-top: 2px;
}

span {
    text-decoration: underline;
}

#colorThis {
    color: red;
}
header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: -23px;

}
