* {
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 10em;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 75px;
    margin-bottom: 75px;
}


.navWrapper {
    display: flex;
    justify-content: space-between;
}

.navglyph {
    margin: 10px;
}

.navTitle {
    margin-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
}



.content-wrapper {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.imgs {
    height: 250px;
    width: 250px;
    border: white solid 10px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}