.meme {
    height: 250px;
    width: 250px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.form {
    padding: 50px;
    text-align: center;
    margin: auto;
}


.upper {
    color: white;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

.lower {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}