body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    background-color: purple;
    text-align: center;
    color: white;
}

.header h1 {
    margin-top: 0;
}

.article {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.article img {
    width: 100%
}