.jumbotron {
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.pokemonItem {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Special Elite', cursive;
}

form {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: inherit;
}

.item-wrapper {
    height: 300px;
}