.flag {
    background-color: #fdcf08;
    height: 600px;
    width: 1000px;
    position: relative;
}

.flagbox {
    background-color: #03588e;
    position: absolute;
}

.top-left {
    height: 240px;
    width: 300px;
    top: 0;
    left: 0;
}

.bottom-left {
    height: 240px;
    width: 300px;
    bottom: 0;
    left: 0;
}

.top-right {
    height: 240px;
    width: 570px;
    top: 0;
    right: 0;
}

.bottom-right {
    height: 240px;
    width: 570px;
    bottom: 0;
    right: 0;
}
