/*swedish
.flag {
    background-color: #fdcf08;
    height: 600px;
    width: 1000px;
    position: relative;
}

.flagbox {
    background-color: #03588e;
    position: absolute;
}

.top-left {
    height: 240px;
    width: 300px;
    top: 0;
    left: 0;
}

.bottom-left {
    height: 240px;
    width: 300px;
    bottom: 0;
    left: 0;
}

.top-right {
    height: 240px;
    width: 570px;
    top: 0;
    right: 0;
}

.bottom-right {
    height: 240px;
    width: 570px;
    bottom: 0;
    right: 0;
}
*/

/*switzerland*/
.flag {
    position: relative;
    background-color: #ff0000;
    height: 600px;
    width: 600px;
}

.hor-stripe {
    position: absolute;
    background-color: white;
    height: 100px;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vert-stripe {
    position: absolute;
    background-color: white;
    height: 50%;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
/*    transform: translateY(-50%);*/
    
}

