* {
    box-sizing: border-box; 
    font-size: 0px;
}


#topBlock {
    background-color: #F5C6D6;
    height: 200px;
    width: 100%
    display: inline-block;
    border: 10px white solid;
    border-radius: 100%;
}

.pinkBoxes {
    background-color: #EE2E84;
    display: inline-block;
    height: 200px;
    width: 25%;
    border: 10px white solid;
    border-radius: 100%;
    
}

.blueBoxes {
    background-color: #85CFD8;
    display: inline-block;
    height: 200px;
    width: 50%;
    border: 10px white solid;
    border-radius: 100%;
}

#greenBox {
    background-color: #8DC63F;
    display: inline-block;
    height: 200px;
    width: 75%;
    border: 10px white solid;
    border-radius: 100%;
}

#orangeBox {
    background-color: #E76E34;
    display: inline-block;
    height: 200px;
    width: 25%;
    border: 10px white solid;
    border-radius: 100%;
}