* {
    box-sizing: border-box;
    font-size: 0px;
}

#topBlock {
    background-color: #F5C6D6;
    height: 200px;
    width: 100% display: inline-block;
    border: 10px white solid;
}

.pinkBoxes {
    background-color: #EE2E84;
    display: inline-block;
    height: 200px;
    width: 25%;
    border: 10px white solid;
}

.blueBoxes {
    background-color: #85CFD8;
    display: inline-block;
    height: 200px;
    width: 50%;
    border: 10px white solid;
}

#greenBox {
    background-color: #8DC63F;
    display: inline-block;
    height: 200px;
    width: 75%;
    border: 10px white solid;
}

#orangeBox {
    background-color: #E76E34;
    display: inline-block;
    height: 200px;
    width: 25%;
    border: 10px white solid;
}

@media (max-width:1000px) {
    #topBlock {
        height: 150px;
    }
    .pinkBoxes {
        height: 150px;
    }
    .blueBoxes {
        height: 150px;
    }
    #greenBox {
        height: 150px;
    }
    #orangeBox {
        height: 150px;
    }
}

@media (max-width:768px) {
    #topBlock {
        width: 100% 
    }
    .pinkBoxes {
        width: 100%;
    }
    .blueBoxes {
        width: 100%;
    }
    #greenBox {
        width: 100%;
    }
    #orangeBox {
        width: 100%;
    }
}
