* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline;
    padding: 10px;
    color: white;
}

ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.app-wrapper {
    background: url("./images/carolinie-cavalli-104191.jpg");
}

.navBar-wrapper {
    background: #222;
    color: #fafafa;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 100%;
    z-index: 100;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    
}

.navbar-item {
    font-size: 1.5em;
}
a {
    color: #fafafa;
}

.header-wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-title {
    color: #61dafb;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 7.5em;
    line-height: 1.28;
    margin-top: 25px;
}

.button-wrapper {
    text-align: center;
    margin-top: 25px;
}

.title, .subtitle, .author {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.blogpost-wrapper {
    text-align: center;
    /* background-color: rgba(149, 171, 233, 0.1); */
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    margin-top: 200px;
}

.content-wrapper {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.blogpost {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #fafafa;
    font-family: 'Amatic SC', cursive;
}

.footer-wrapper {
    box-sizing: border-box;
    border: none;
    font-weight: 300;
    color: #202020;
    font-size: 15px;
    line-height: 24px;
    background: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer {
    color: white;
    text-align: center;
}