table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 30px;
}

td, th{
    text-align: center;
    border: solid black 1px;
    padding: 10px;
}

tr:nth-child(even) {  
    background-color: #dddddd;
}

.food {
}